<?php
return [
	'db' => [
		'dsn'      => 'mysql:dbname=;host=localhost',        
        'username' => '',
        'password' => '',
	],
	'doctrine' => [
		'connection' => [
			'orm_default' => [
				'params' => [
					'host'     => 'localhost',
					'dbname'   => '',
					'user'     => '',
					'password' => ''
				]
			]
		]
	]
];
